<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- css -->
	<link th:href="@{'/libraries/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{'/css/app.css'}">
</head>
<body>
    <div class="admin__wrapper d-flex">
        <!-- sidebar -->
        <div id="admin-sidebar" class="admin__sidebar bg-dark py-3">
            <div class="px-3">
                <img class="admin__sidebar__logo" th:src="@{/images/logo-white.webp}" alt="logo" />
                <!-- user -->
                <div class="admin__sidebar__user d-flex mt-3 p-3">
                    <div class="col-4 admin__sidebar__user__image__wrapper d-flex">
                        <img class="admin__sidebar__user__image" src="/images/user.png" alt="user" />
                        <span class="admin__sidebar__user__status mt-auto"></span>
                    </div>
                    <div class="col-7 ps-2">
                        <p class="admin__sidebar__user__name fw-normal text-white mb-0">Sai Kiran Reddy</p>
                        <p class="admin__sidebar__user__role text-white mb-0">Role</p>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <div class="admin__sidebar__navigation mt-3">
                <h5 class="fw-normal text-secondary ps-3">Navigation</h5>
                <div class="admin__sidebar__navigation__link admin__sidebar__navigation__link__active d-flex justify-content-between p-2 px-3">
                    <h6 class="text-white fw-normal my-auto">Dashboard</h6>
                    <span class="admin__sidebar__navigation__link__icon">
                        <img th:src="@{/images/icons/arrow_right.svg}" alt="arrow" />
                    </span>
                </div>
                <div th:each="row : ${#numbers.sequence( 1, 6, 1)}" class="admin__sidebar__navigation__link d-flex justify-content-between p-2 px-3">
                    <h6 class="text-white fw-normal align-items-center">
                        Link 
                        <span th:text="${row}"></span>
                    </h6>
                    <span class="admin__sidebar__navigation__link__icon d-none">
                        <img th:src="@{/images/icons/arrow_right.svg}" alt="arrow" />
                    </span>
                </div>
            </div>
        </div>
        <div class="w-100">
            <!-- navbar -->
            <div class="w-100 d-flex bg-white shadow-lg px-3 py-2">
                <button onclick="toggleSidebar()" class="cursor__pointer border-0 bg-transparent">
                    <img src="/images/icons/menu.svg" alt="menu" />
                </button>
                <div class="ms-auto">
                    <button class="cursor__pointer border-0 bg-transparent">
                        <img src="/images/icons/notifications.svg" alt="notifications" />
                    </button>
                    <div class="d-inline-block">
                        <button class="cursor__pointer border-0 bg-transparent">
                            <img class="admin__navbar__userImage" src="/images/user.png" alt="user" />
                            <img src="/images/icons/expand_more.svg" alt="down" />
                        </button>
                    </div>
                </div>
            </div>
            <!-- content -->
            <div class="admin__content w-100 p-4">
                <!-- breadcrumb -->
                <div class="d-flex border-bottom pb-2">
                    <div class="me-auto d-flex">
                        <h4 class="me-3 mb-0">Organization List</h4>
                        <p class="fw-normal text-secondary my-auto">Description about the page</p>
                    </div>
                    <div class="ms-auto">
                        <a class="admin__dashboard__breadCrumb__link text-decoration-none text-dark" href="/dashboard">Home</a>
                        <a class="admin__dashboard__breadCrumb__link text-decoration-none text-dark" href="/dashboard">Dashboard</a>
                        <a class="text-decoration-none text-dark" href="/dashboard">Settings</a>
                    </div>
                </div>
                <!-- analytics -->
                <div class="admin__dashboard__analytics bg-white shadow-sm row m-0">
                    <div th:each="row : ${#numbers.sequence( 1, 4, 1)}" class="col-3 d-flex p-3">
                        <div class="col-4">
                            <h5 class="fw-bold mb-0">42,212</h5>
                            <p class="admin__dashboard__analytics__description text-danger mb-1">Total Sales</p>
                            <p class="admin__dashboard__analytics__change text-secondary mb-0">+16.20(+2.00%)</p>
                        </div>
                        <div class="col-7">
                            <div th:id="chartdiv- + ${row}"></div>
                        </div>
                    </div>
                </div>
                <!-- stats -->
                <div class="admin__dashboard__stats row m-0">
                    <div th:each="row : ${#numbers.sequence( 1, 3, 1)}" class="col-4 pe-3 p-0">
                        <div class="admin__dashboard__stats__column bg-white shadow-sm ps-4 pe-3 py-2">
                            <h4 class="fw-normal mb-0">Today's Sales</h4>
                            <h6 class="fw-normal">Sub</h6>

                            <table class="admin__dashboard__stats__table">
                                <colgroup>
                                    <col class="admin__dashboard__stats__table__column1" />
                                    <col class="admin__dashboard__stats__table__column2" />
                                </colgroup>
                                <thead class="w-100">
                                    <th class="w-75">
                                        <h6 class="fw-bolder">Organization Name</h6>
                                    </th>
                                    <th class="admin__dashboard__stats__table__column2 w-25 ps-2 py-2">
                                        <h6>Change</h6>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr th:each="row : ${#numbers.sequence( 1, 7, 1)}" class="admin__dashboard__stats__table__row">
                                        <td><h6 class="fw-normal"><span class="me-2">+</span> Company Name</h6></td>
                                        <td class="admin__dashboard__stats__table__column2__data ps-2"><p>+10%</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{'/libraries/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{'/js/dashboard.js'}"></script>
</body>
</html>