<div class="w-100 d-flex bg-white shadow-lg px-3 py-2">
    <button onclick="toggleSidebar()" class="cursor__pointer border-0 bg-transparent">
        <img src="/images/icons/menu.svg" alt="menu" />
    </button>
    <div class="ms-auto">
        <button class="cursor__pointer border-0 bg-transparent">
            <img src="/images/icons/notifications.svg" alt="notifications" />
        </button>
        <div class="d-inline-block">
            <button class="cursor__pointer border-0 bg-transparent">
                <img class="admin__navbar__userImage" src="/images/user.png" alt="user" />
                <img src="/images/icons/expand_more.svg" alt="down" />
            </button>
        </div>
    </div>
</div>