.login {
    &__wrapper {
        height: 100vh;
    }
    &__logo {
        height: 3rem;
        width: auto;
    }
    &__column {
        border-radius: 2%;
    }
    &__register {
        &:hover {
            color: inherit;
        }
    }
}


.register {
    &__wrapper {
        height: 100vh;
    }
    &__logo {
        height: 3rem;
        width: auto;
    }
    &__column {
        border-radius: 2%;
    }
}


.admin {
    &__navbar {
        &__logo {
            height: 3rem;
            width: auto;
        }
    }
    &__wrapper {
        height: 100vh;
    }
}